*{
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;

}

:root{

    /*Colors*/
    --white: #fff;
    --gray: #a0a58a;
    --lightblue: #008997;

    /*Radius*/
    --button-radius:0.7rem;

    /*Sizes*/
    --max-width: 50%;
    --max-height: 50%;

    font-size: 16px;
    @import url('http://fonts.googleapis.com/css?family=Mukta:700');

}

body{
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

.form_title{
    color:var(--gray);
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}

.link{
    color:var(--gray);
    font-size: 00.9rem;
    margin: 1.5rem 0;
    text-decoration:  none;
}

.container{
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.5rem rgba(0,0,0,10), 0 0.7rem 0.5rem  rgba(0,0,0,10);
    height: var(--max-height);
    width: var(--max-width);
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--signin{
    left:0;
    width: 50%;
    z-index: 2;
}

.container.right-panel .container--signin{
    animation:  show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container--signup{
    left:0;
    opacity: 0;
    width: 50%;
    z-index: 1

}

.container.right-panel .container--signup{
    animation:  show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container_overlay{
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: tranform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel .container_overlay{
    transform: translateX(-100%) ;
}

.overlay{
    background: rgba(9,90,121);
    background: linear-gradient(180deg, rgba(9,90,121) 0%, rgba(225,225,225,1) 100% );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: over;
    height: 100%;
    left:-100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.container.right-panel .overlay{
    transform: translateX(50%);
}

.overlay_panel{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position:  absolute;
    text-align: center;
    top:0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}











