<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-9">
            <h2>{{player.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G4wTERfoPfA" title="Youtube player video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0"  allowfullscreen></iframe>
        <p>{{player.description}}</p>
        </div>
    </div>
</div>