


<div class="widthcar ">

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://pbs.twimg.com/media/ELN0tBoX0AE4hZ3.jpg" class="d-block w-100 imagesize" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.shropshirestar.com/resizer/mUz_9ynbEWzGlPl8fsTm6aJ5svA=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/HE35TM4E6BFNVI4NZTYG6PYGPI.jpg" class="d-block w-100 imagesize" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/236x/6f/91/73/6f91732ac2865c84c5d35a2efa762345--football-boots-soccer.jpg" class="d-block w-100 imagesize" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>